<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
	<!-- 게시글 -->
	<h1 class="border-bottom py-2" th:text="${post.title}"></h1>
	<div class="card-body">
		<div class="card-text" style="white-space: pre-line"
			th:text="${post.content}"></div>
		<div class="d-flex justify-content-end">
			<div class="badge bd-light text-dark p-2 text-start">
				<div th:text="${#temporals.format(post.createdTime, 'yyyy-MM-dd HH:mm')}"></div>
			</div>
		</div>
		<!-- 질문 수정 및 삭제 기능 -->
		<div class="my-3">
			<a th:href="@{|/post/modify/${post.postId}|}" class="btn btn-sm btn-outline-secondary"
				sec:authorize="isAuthenticated()"
				th:if="${post.author != null and #authentication.getPrincipal().getUsername() == post.author.id}"
				th:text = "수정"></a>
			<a href="javascript:void(0);"
				th:data-uri="@{|/post/delete/${post.postId}|}"
				class="delete btn btn-sm btn-outline-secondary"
				sec:authorize="isAuthenticated()"
				th:if="${post.author != null and #authentication.getPrincipal().getUsername() == post.author.id}"
				th:text="삭제	"></a>
		</div>
	</div>

	<!-- 답변 개수 표시 -->
	<h5 class="border-bottom my-3 py-2"
		th:text="|${#lists.size(post.replyList)}개의 답변이 있습니다.|"></h5>
	<div class="card my-3" th:each="reply : ${post.replyList}">
		<div class="card-body">
			<div class="card-text" style="white-space: pre-line;"
				th:text="${reply.content}"></div>
			<div class="badge bd-light text-dark p-2 text-start">
				<div th:text="${#temporals.format(post.createdTime, 'yyyy-MM-dd HH:mm')}"></div>
			</div>
		</div>
	</div>
	
	<form th:action="@{|/reply/create/${post.postId}|}" th:object="${replyForm}" method="post">
		<div th:replace="~{form_errors :: formErrorsFragment}"></div>
		<textarea sec:authorize="isAnonymous()" disabled 
			th:field="*{content}" rows="10" class="form-control"></textarea>
		<textarea sec:authorize="isAuthenticated()"  
					th:field="*{content}" rows="10" class="form-control"></textarea>
		<input type="submit" value="댓글 등록" class="btn btn-primary my-2">
	</form>
</div>
<script layout:fragment="script" type="text/javascript">
	const delete_elements = document.getElementsByClassName("delete");
	console.log(delete_elements);
	Array.from(delete_elements).forEach(function(element) {
		element.addEventListener('click', function() {
			if(confirm("정말로 삭제하시겠습니까?")) {
				location.href = this.dataset.uri;
			}
		});
	});
</script>
</html>