<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
	<div class="my-3 border-bottom">
		<div>
			<h4>회원가입</h4>
		</div>
	</div>
	
	<form th:action="@{/user/signup}" th:object="${userCreateForm}" method="post">
		<div th:replace="~{form_errors :: formErrorsFragment}"></div>
		<div class="mb-3">
			<label for="id" class="form-label">ID</label>
			<input type="text" th:field="*{id}" class="form-control">
		</div>
		<div class="mb-3">
			<label for="pw" class="form-label">PW</label>
			<input type="password" th:field="*{pw}" class="form-control">
		</div>
		<div class="mb-3">
			<label for="username" class="form-label">USERNAME</label>
			<input type="text" th:field="*{username}" class="form-control">
		</div>
		<button type="submit" class="btn btn-primary">회원가입</button>
	</form>
</div>
</html>
		