<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="../static/css/shared.css" />
	<link rel="stylesheet" href="../static/css/index.css" />

	<title>Jabcho Main</title>
</head>

<body>
	<header>
		<div class="jabcho_logo">
			<img src="../static/images/Jobcho_logo.png" alt="Jobcho_logo" />
			<p>Jobcho</p>
		</div>
		<div class="header_user_info">
			<img src="../static/images/default_profile.png" alt="user_img" />
			<p>이름(송효준)</p>
		</div>
	</header>

	<main>
		<div class="profile_container">
			<h3>프로필</h3>
			<div class="profile">
				<div class="right_items">
					<img src="../static/images/default_profile.png" alt="profile_img" />
					<div class="profile_info">
						<p class="profile_info_name">이름(송효준)</p>
						<p class="profile_info_email">이메일(thdgywns2300@gmail.com)</p>
					</div>
				</div>
				<div class="left_items">
					<img src="../static/images/settings.png" alt="">
					<a href="">계정설정</a>
				</div>
			</div>
		</div>

		<div class="team_list_container">
			<h3>팀 리스트</h3>
			<div class="team_list">
				<div class="team_list_item">
					<div class="team">
						<div class="right_items">
							<img src="../static/images/default_profile.png" alt="profile_img" />
							<div class="team_info">
								<p class="team_info_team_name">팀 이름(Team_3)</p>
								<a class="team_info_team_domain">팀 도메인(team-3.jandi.com)</a>
								<p class="team_info_team_owner">
									팀 소유자(소유자 thdgywns2300@gmail.com)
								</p>
							</div>
						</div>
						<div class="team_btn">
							<a href="">팀 관리</a>
							<a href="">팀으로 가기</a>
						</div>
					</div>
				</div>
			</div>
			<div class="team_creat_btn">
				<a href="">+팀 생성하기</a>
			</div>
		</div>
	</main>
</body>

</html>