.profile_container,
.team_list_container {
	width: 50rem;
	margin: auto;
	margin-top: 2rem;
}

h3 {
	color: rgb(125, 125, 125);
	margin-bottom: 1rem;
}

.team_list_item {
	background-color: white;
	border: 1px solid rgb(200, 200, 200);
	padding: 1.5rem 1rem;
	border-radius: 6px;
	margin-bottom: 1rem;
}

.profile,
.team {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	margin: auto;
}

.profile_container img,
.team img {
	width: 4rem;
	height: 4rem;
	border-radius: 30%;
}

.team img {
	width: 3rem;
	height: 3rem;
}

.left_items {
	display: flex;
	align-items: center;
	gap: 0.3rem;
}

.left_items img {
	width: 1.5rem;
	height: 1.5rem;
	margin-bottom: 0.3rem;
}

.left_items a {
	color: rgb(125, 125, 125);
	font-weight: 600;
}

.right_items {
	display: flex;
	gap: 1rem;
	align-self: center;
}

.profile_info,
.team_info {
	padding-block: 0.1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.profile_info p:first-child {
	font-size: 1.3rem;
	font-weight: 500;
}

.profile_info p:last-child {
	color: rgb(125, 125, 125);
}

.team_info p:first-child {
	font-size: 1.3rem;
	font-weight: 600;
}

.team_info p:last-child {
	color: rgb(125, 125, 125);
	font-weight: 500;
	margin-top: 1rem;
}

.team_info a {
	text-decoration: underline;
	font-size: 0.9rem;
	color: rgb(169, 169, 169);
}

.team_btn a {
	padding: 0.5rem;
	font-weight: 500;
	border-radius: 4px;
}

.team_btn a:first-child {
	border: 1px solid rgb(125, 125, 125);
	color: rgb(125, 125, 125);
	margin-right: 0.5rem;
}

.team_btn a:last-child {
	background-color: rgb(6, 195, 115);
	color: rgb(250, 250, 250);
}

.team_creat_btn a {
	display: block;
	padding-block: 2rem;
	background-color: rgb(228, 228, 228);
	color: rgb(125, 125, 125);

	font-size: 1.2rem;
	text-align: center;
	font-weight: 600;
	border-radius: 6px;
}