<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="colorPopup">
		<div class="color-popup" style="display:none; position:absolute">
			<span class="color-dot" style="background-color:#38bdf8;" data-color="#38bdf8"></span>
			<span class="color-dot" style="background-color:#facc15;" data-color="#facc15"></span>
			<span class="color-dot" style="background-color:#fb7185;" data-color="#fb7185"></span>
			<span class="color-dot" style="background-color:#34d399;" data-color="#34d399"></span>
			<span class="color-dot" style="background-color:#c084fc;" data-color="#c084fc"></span>
			<span class="color-dot" style="background-color:#94a3b8;" data-color="#94a3b8"></span>
		</div>
	</div>
</html>
